<h1>Events#index</h1>

<%= link_to 'Add New Event', controller: "events", action:"new" %>
<table>

<% @event.each do |event| %>
<tr><td> <%= event.name %> </td><td> <%= event.start %> </td> <td> <%= link_to "show", event_path(event) %> </td><td> <%= link_to "edit", edit_event_path(event) %></td><td> <%= link_to "destroy", event, method: :delete, data: {confirm: 'Are you sure?' } %></td>
	<% end %>