<!DOCTYPE html>
<html>
<head>
  <title>Blackandgold</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Products', products_path %>
<%= link_to 'Events', events_path %>
<%= link_to 'Contact', contact_path %>

<% if @cart.present? %>
<div class="cart">
<div class="cart_title"> Your Cart</div>

<%= @cart %>

</div>
<% end %>
<%= yield %>

</body>
</html>
